@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;

  --border: 1px solid var(--color-light);

  --font-family-base: "Roboto", sans-serif;
  --font-family-accent: "Roboto", sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  background-color: var(--color-dark);
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  font-weight: 300;
  font-size: 16px;
  line-height: calc(28 / 16);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a,
button,
input,
textarea,
svg * {
  transition: all var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}
